/*Mark*/
h2{
    color: #FF6480;
}

li,p,h3{
    color: #FFFFFF;
}

body{
    font-family: 'Poppins', sans-serif;
}
.titulo1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #FF6480;
    width: 903px;
    height: 104px;
    left: calc(50% - 903px/2 + 2.5px);
    top: 326px;
}
.container-fluid{
    padding: 3% 30%;
}

.container-fluid-center{
    margin-right: auto;
    text-align: center;
}

.nav-item{
    font-family: 'Lato', sans-serif;
    color: #FFFF;
}
body{
    background-color: #2A0D2E;
    background-image: url("../images/LandingImage1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
}


.poplight{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.list-content-img ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-content-img li{
    list-style-type: none;
    display: inline-block;
    padding-right: 6%;
    width: max-content;
    margin-right: 0.5%;
    padding-left: 10%;
    margin-left: 0;
}

.list-content-img li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.text-content{
    text-align: center;
    font-size: xx-small;
    color: #FFFFFF;
}

.list-content{
    line-height: 55px;
    text-align: center;
}

.list-content span {
    color: #FF6480;
    font-size: 88%;
}

.list-content h3 {
    color: #FFFFFF;
    font-size: 76%;
}

.navbar-brand{
    padding-left: 2%;
    padding-top: 1%;
}

.navbar-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.navbar-nav li {
    display: inline-block;
    margin-left: 40px;
}

.navbar-nav li a:link,
.navbar-nav li a:visited {
    padding: 8px 0;
    color: #360708;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.navbar-nav li a:hover,
.navbar-nav li a:active {
    border-bottom: 2px solid #FF6480;
}


/*Servicios*/
.Servicio_cont{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background: #2A0D2E;
    margin-top: 10px;
    border-top: 6px;
}

.Servicio_cont h1{
    color:#FFFFFF;
    text-align: center;
    padding-bottom: 100px;
}

.Servicio_cont h2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 70px;
}

.Servicio_cont img{
    width: 400px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 20px;
    vertical-align: middle;
    float: left;
}

.Servicio_cont p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    color:#FFFFFF;
    text-align: center;
}

.parrafo{
    background: #FF6480;
    padding: 10px;
}


/* Planes */

.section-plans {
    background-color: #2A0D2E;
    padding-top: 150px;
}

.plan-box {
    background-color: #53183B;
    border-radius: 25px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 2px 2px 3px 5px #FF6480;
    
}

.plan-box div {
    padding: 15px;
    border-bottom: 2px solid #FF6480;
}

.plan-box div:first-child {
    background-color: #53183B;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #FFFFFF;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-plans {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.section-plans .row h2{
    padding: 20px;
}

.Nosotros_cont{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    background: #2A0D2E;
    margin-top: 100px;
    border-top: 6px;
}


.Nosotros_cont h2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 4px;
}

.Nosotros_cont img{
    width: 400px;
    height: 250px;
    margin-right: 100px;
    margin-bottom: 20px;
    vertical-align: middle;
    float:left;
}

.Nosotros_cont p{
    font-size: 18px;
    font-weight: 300px;
    margin-top: 20px;
    color:#FFFFFF;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #FF6480;
    padding: 0px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #FFFFFF;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #FFFFFF;
}


footer p {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

/* Formulario */

.contacto{
    margin-bottom: 35px;
}
.contacto h2{
    color:#FF6480;
    margin-top: 35px;
}
.formulario {
    background-color: #2A0D2E;
    padding: 2rem;
    border-radius: 25px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    box-shadow: 2px 2px 3px 5px #FF6480;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color :#FFFFFF;
}
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #FF6480;
    border: 1px solid #FF6480;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #FF6480;
    color: #FF6480;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #FF6480;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #FF6480;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #FF6480;
    color: #fff;
}
